.home-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;
}

.home-profil {
    background-color: $white;
    border: 1px solid $color-1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    margin: 20px ;
}

.home-post {
    background-color: aqua;
    width: 250px;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    margin: 20px;

    ul{
        padding: 10px;
    }
}

.home-newPost{
    margin: 20px;
    border: 1px solid $color-1;
    width: 280px;
}

@media screen and(min-width : 750px){
    .home-container{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}