.edit-comment{
    display: flex;
    margin-top: 10px;
}

.edit-comment-form{
    width: 100%;

    input[type='text']{
        width: 100%;
        height: 25px;
        border: $borderBlack;
        margin-top: 10px;
    }

    input[type='submit']{
        background-color: rgb(39, 120, 240);
        min-width: 100px;
        width: 100px;
        font-size: 12px;
        color: $white;
        height: 30px;
        padding: 0; 
        border: none;
    }
}

.bottom-btn{
    @include flexSpaceBetween;
    margin-top: 10px;
}