.nav-header{
    @include flexSpaceBetween;
    padding: 20px;
    border-bottom: 2px solid $color-1;
}

.nav-header-left{
    min-width: 200px;

    img{
        width: 100%;
    }
}


.fa-right-from-bracket{
    font-size: 30px;
    color: $color-3;
}