.image-profil{
    height: 80px;
    width: 80px;
    margin: 20px 0 20px;


    img{
        width: 100%;
        height: 100%;
        border-radius: 50px;
        border: 1px solid $black;
    }
}

.content-profil{
    margin-bottom: 10px;
    color: $black;
    text-align: center;
    display: flex;

    h2{
       margin-bottom: 10px;
       font-size: 22px;
       
    }
}

.modify-profil{
    margin-bottom: 20px;

    button{
        background-color: $white;
        border: 1px solid $color-1;

        &:hover{
            transform: scale(1.08);
            background-color: $color-1;
            color: $white;
        }
    }
}