.like-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    color: red;
}

.empty{
    color: gray;
}

.fa-heart{
    margin-right: 5px;
    font-size: 20px;
}