.post-container{
    background-color: $white;
    border: $borderBlack;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-left{
    flex-basis: 15%;
    padding: 5px;
}

.post-user-image{
    max-width: 100px;
    min-width: 50px;
    width: 100%;
    max-height: 80px;
    
        img{
            width: 50px;
            height: 50px;
            border-radius: 20px;
            border: $borderBlack;
        }
}

.post-right{
    @include flexCenterColumn;
    width: 85%;
    position: relative;

   
}


.post-right-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: $borderBlack;

    h3{
        word-spacing: 5px;
        font-size: 14px;
    }

    span{
        font-size: 12px;
    }
}

.post-content{
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;

    img{
        min-width: 100px;
        max-width: 500px;
        width: 90%;
        min-height: 100px;
        max-height: 500px;
        height: 90%;
        border-radius: 10px;
    }

    iframe{
        width: 90%;
        height: 300px;
        border-radius: 10px;
    }
}

.update-post{
    width: 100%;

    textarea{
        width: 100%;
        border: $borderBlack ;
    }

    button{
        background-color: $color-1;
        font-size: 12px;
        color: $white;
        height: 30px;
        padding: 0; 

        &:hover{
            transform: scale(1.06);
        }
    }

    .send{
        background-color: rgb(39, 120, 240);
        min-width: 150px;
    }
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    padding: 0 10px 0 10px;
}

.post-right-footer{
    @include flexSpaceBetween;
    width: 100%;
    border-top: $borderBlack;
    height: 40px;
    padding-right: 9px;
    margin-top: 10px;
}

.post-comment{
    @include flexCenter;
    border-radius: 20px;
    height: 25px;
    padding: 10px;


    &:hover{
        cursor: pointer;
        border: $borderBlack;
        transition: 0.5s;
    }

    span{
        margin-left: 5px;
    }
}

@media screen and (min-width: 700px) {
    .post-user-image{
      
            img{
                width: 80px;
                height: 80px;
            }
    }
}